In [12]:
import pandas as pd

In [13]:
yelp_raw_data = pd.read_csv("data/yelp.csv")
yelp_raw_data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [14]:
yelp_raw_data.shape

(10000, 10)

In [15]:
type(yelp_raw_data)

pandas.core.frame.DataFrame

In [16]:
yelp_raw_data['business_id'].describe()

count                      10000
unique                      4174
top       JokKtdXU7zXHcr20Lrk29A
freq                          37
Name: business_id, dtype: object

In [18]:
type(yelp_raw_data['business_id'])

pandas.core.series.Series

In [19]:
yelp_raw_data['business_id'].describe()

count                      10000
unique                      4174
top       JokKtdXU7zXHcr20Lrk29A
freq                          37
Name: business_id, dtype: object

In [21]:
yelp_raw_data['review_id'].describe()

count                      10000
unique                     10000
top       eTa5KD-LTgQv6UT1Zmijmw
freq                           1
Name: review_id, dtype: object

In [22]:
yelp_raw_data['text'].describe()

count                                                 10000
unique                                                 9998
top       This review is for the chain in general. The l...
freq                                                      2
Name: text, dtype: object

In [24]:
duplicate_text = yelp_raw_data['text'].describe()['top']
duplicate_text

"This review is for the chain in general. The location we went to is new so it isn't in Yelp yet. Once it is I will put this review there as well. We were there on Friday at 5 PM. \r\n\r\nThe reason I gave it 2 stars is because the burger was very good and it was made the way I asked for it. My husbands burger was not.\r\n\r\nBut, the server and the fries left a lot to be desired. Let me preface by saying that we had been to several other locations. I like my fries crispy. I ask for them well done, extra crispy, scorched, tortured hollow tubes. Whatever their buzz word is for well done. The location will comply. EVERY OTHER 5 GUYS HAS COMPLIED. But not the one at TATUM AND SHEA. She said that corporate said they are not to cook the fries that way. So if we were to put up with soggy fries - yes soggy, then we did not want them. \r\n\r\nShe also interrupted us several times which is rude. THEN she went and called corporate just to double check for us and she came to the table and said they said no they were not to cook them that way. Seriously? We did not ask for her to do this. She actually accused us of being undercover shoppers. We started to say something and then again- she interupted.\r\n\r\nListen, if you explain that our choice is not how the company wishes to present their product and we still choose to have them a different way, you should comply. It is after all our money and our decision. I was raised with the rules that #1 the customer is always right. And #2 if the customer is wrong REFER TO RULE NUMBER 1!!\r\n\r\nWe will not return. They have lost our business and I hope she loses her job.\r\nIf you want to try a really good burger AND FRIES place- go to Paradise Valley Burger Company at 40th Street and Bell. You will not be disappointed."

In [28]:
text_is_the_duplicate = yelp_raw_data['text'] == duplicate_text
type(text_is_the_duplicate)

pandas.core.series.Series

In [29]:
text_is_the_duplicate.head()

0    False
1    False
2    False
3    False
4    False
Name: text, dtype: bool

In [30]:
sum(text_is_the_duplicate)

2

In [31]:
filtered_dataframe = yelp_raw_data[text_is_the_duplicate]

In [32]:
filtered_dataframe

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
4372,jvvh4Q00Hq2XyIcfmAAT2A,2012-06-16,ivGRamFF3KurE9bjkl6uMw,2,This review is for the chain in general. The l...,review,KLekdmo4FdNnP0huUhzZNw,0,0,0
9680,rIonUa02zMz_ki8eF-Adug,2012-06-16,mutQE6UfjLIpJ8Wozpq5UA,2,This review is for the chain in general. The l...,review,KLekdmo4FdNnP0huUhzZNw,0,0,0

In [33]:
yelp_raw_data['type'].describe()

count      10000
unique         1
top       review
freq       10000
Name: type, dtype: object

In [34]:
yelp_raw_data['user_id'].describe()

count                      10000
unique                      6403
top       fczQCSmaWF78toLEmb0Zsw
freq                          38
Name: user_id, dtype: object